<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <title>NMStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="author" content="Cononico" />
    <meta name="application-name" content="NMStore" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8" />
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="apple-mobile-app-status-bar-style" content="black">

    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

    <script src="/javascripts/libs/jquery-2.2.2.min.js"></script>
    <script src="/javascripts/libs/jquery.cookie.js"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    NMStore
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">首页 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">购物车</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/users/login">Login</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="jumbotron login_main">

        <div class="login-action">
            <div class="login-action-1">
                <form class="form-horizontal sigin-in-form">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control sigin-in-username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control sigin-in-pwd" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Type</label>
                        <div class="col-sm-10 selectpicker-div">
                            <select class="login_type">
                                <option value="3">会员</option>
                                <option value="2">小二</option>
                                <option value="1">掌柜</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5">
                            <button type="submit" class="btn btn-default">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="login-action-2">
                <form class="form-horizontal sigin-up-form">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control sigin-up-username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control sigin-up-pwd" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control sigin-up-repwd" placeholder="Reply Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Address</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control sigin-up-address" placeholder="Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Phone</label>
                        <div class="col-sm-10">
                            <input type="tel" class="form-control sigin-up-phone" placeholder="Phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5">
                            <button type="submit" class="btn btn-default">Sign up</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="login-action-3">
                <form class="form-horizontal store-form">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Storename</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control store-name" placeholder="Storename">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control store-username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control store-pwd" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control store-repwd" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Address</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control store-address" placeholder="Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">IDCard</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control store-idcard" placeholder="IDCard">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Tel</label>
                        <div class="col-sm-10">
                            <input type="tel" class="form-control store-tel" placeholder="Tel">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5">
                            <button type="submit" class="btn btn-default">Sign up</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="clear"></div>
        </div>
        <nav>
            <ul class="pager">
                <li><a class="login-a">登录</a></li>
                <li><a class="sigin-a">会员注册</a></li>
                <li><a class="store-a">开店</a></li>
            </ul>
        </nav>
    </div>
    <script type="text/javascript" src="/javascripts/login.js"></script>
    <script type="text/javascript" src="/javascripts/libs/bootstrap.min.js"></script>
</body>

</html>