<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <title>NMStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="author" content="Cononico" />
    <meta name="application-name" content="NMStore" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8" />
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="apple-mobile-app-status-bar-style" content="black">

    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/storema.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

    <script src="/javascripts/libs/jquery-2.2.2.min.js"></script>
    <script src="/javascripts/libs/jquery.cookie.js"></script>
</head>
<body data-store="<%= store.store_id %>" data-name='<%= store.name %>'>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    <%= title %>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">首页 <span class="sr-only">(current)</span></a></li>
                    <li><a href="/car">购物车</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            欢迎, <%= username %><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/users">个人中心</a></li>
                            <li><a href="/storema">进入店铺</a></li>
                            <li><a>处理订单</a></li>
                            <li><a id="logout" href="javascript:">登出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    
    <div class="row store-nav-row container">
        <ul class="nav nav-tabs">
            <li role="presentation">
                <a href="/storema"><%= store.name %></a>
            </li>
            <li role="presentation" class="active"><a href="/storema/order">未完成订单</a></li>
            <li role="presentation"><a href="/storema/allorder">全部订单</a></li>
            <li role="presentation"><a href="javascript:;">商店信息</a></li>
        </ul>
    </div>
    <div class="container storema-goods-container" id="storema-goods-container">
        <div class="row">
            <table class="table table-striped table-hover" id="goods_table">
                <thead class="row">
                     <th class="col-sm-1">#</th>
                     <th class="col-sm-1">用户</th>
                     <th class="col-sm-1">商品</th>
                     <th class="col-sm-1">数量</th>
                     <th class="col-sm-2">收货地址</th>
                     <th class="col-sm-1">处理人</th>
                     <th class="col-sm-1">提交</th>
                     <th class="col-sm-1">处理</th>
                     <th class="col-sm-1">状态</th>
                     <th class="col-sm-2">操作</th>
                </thead>
                <tbody id="orders_tbody">
                    <% for(var i = 0; i < orders.length; i++){ %>
                        <tr>
                            <td class="col-sm-1"><%=orders[i].order_id %></td>
                            <td class="col-sm-1"><%=orders[i].username %></td>
                            <td class="col-sm-1">
                                <a href="/goods?gid=<%=orders[i].goods_id %>">#<%=orders[i].goods_id %>#</a> 
                                <span><%= orders[i].goods_name %></span>
                            </td>
                            <td class="col-sm-1">*<%= orders[i].amount %></td> 
                            <td class="col-sm-2"><%= orders[i].address %></td>
                            <td class="col-sm-1 order_manager"><%= orders[i].manager %></td>
                            <td class="col-sm-1"><%= orders[i].orders_date %></td>
                            <td class="col-sm-1">
                                <% if(orders[i].complete_date){ %>
                                <%= orders[i].complete_date %>
                                <% }else if(orders[i].cancle_date){ %>
                                <%=orders[i].cancle_date %>
                                <% }else if(orders[i].handle_date){ %>
                                <%=orders[i].handle_date %>
                                <% } %>
                            </td>
                            <td class="col-sm-1 order_state">
                                <% if(orders[i].orders_state == 0){ %><span>未处理</span>
                                <% }else if(orders[i].orders_state == 1){ %><span>已接单</span>
                                <% }else if(orders[i].orders_state == 2){ %><span>已发货</span>
                                <% }else if(orders[i].orders_state == 3){ %><span>买家取消</span>
                                <% }else if(orders[i].orders_state == 4){ %><span>卖家取消</span>
                                <% }else if(orders[i].orders_state == 5){ %><span>交易完成</span>
                                <% } %>
                            </td>
                            <td class="col-sm-2 option_td">
                                <% if(orders[i].orders_state == 0){ %>
                                <a class="take_a btn btn-default" data-order="<%=orders[i].order_id %>">接单</a>
                                <a class="cancel_a btn btn-default" data-order="<%=orders[i].order_id %>">取消交易</a>
                                <% } %>
                                <% if(orders[i].orders_state == 1){ %>
                                <a class="send_a btn btn-default" data-order="<%=orders[i].order_id %>">发货</a>
                                <a class="cancel_a btn btn-default" data-order="<%=orders[i].order_id %>">取消交易</a>
                                <% } %>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <nav class="row">
            <ul class="pagination pagination-lg" id="page-ul" data-current="<%= page %>">
                <!--
                这里是分页逻辑，因为是用模板引擎写的，所以很蛋疼！单元别出差错
                -->
                <ul class="pagination pagination-lg" id="page-ul" data-current="<%= page %>">
                <!--
                这里是分页逻辑，因为是用模板引擎写的，所以很蛋疼！单元别出差错
                -->
                <% if(amount >= 0){ 
                    var page_num = Math.ceil(amount/20);
                    if(page != 1){
                %>
                <li><a href="/storema/order?page=<%= page-1 %>" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>  
                    <% } %>
                    <% if(page_num <= 9){ 
                            for(var page_i = 1; page_i <= page_num; page_i++){
                     %>
                     <li class="page-nav" data-page="<%= page_i %>">
                         <a href="/storema/order?page=<%= page_i %>" class="store-goods-page"><%= page_i %></a>
                     <li> 
                    <% } %>
                    <% } 
                    else if(page_num > 9){
                        if(page <= 5){
                            for(var page_i = 1; page_i <= 6; page_i++){
                    %>
                    <li class="page-nav" data-page="<%= page_i %>">
                         <a href="/storema/order?page=<%= page_i %>" class="store-goods-page"><%= page_i %></a>
                     <li>   
                            <% } %>
                     <li class="page-nav">
                         <a class="store-goods-page">...</a>
                     <li>
                     <li class="page-nav" data-page="<%= page_num-1 %>">
                         <a href="/storema/order?page=<%= page_i %>" class="store-goods-page"><%= page_num-1 %></a>
                     <li>
                     <li class="page-nav" data-page="<%= page_num %>">
                         <a href="/storema/order?page=<%= page_i %>" class="store-goods-page"><%= page_num %></a>
                     <li>
                        <% } 
                        else if(page >5 && (page_num - page) <= 4){
                        %>
                     <li class="page-nav" data-page="1">
                         <a href="/storema/order?page=1" class="store-goods-page">1</a>
                     <li> 
                         <li class="page-nav" data-page="2">
                         <a href="/storema/order?page=2" class="store-goods-page">2</a>
                     <li> 
                     <li class="page-nav">
                         <a class="store-goods-page">...</a>
                     <li> 
                     <%     for(var page_i = page_num-5; page_i <= page_num; page_i++){ %>
                     <li class="page-nav" data-page="<%= page_i %>">
                         <a href="/storema/order?page=<%= page_i %>" class="store-goods-page"><%= page_i %></a>
                     <li>
                            <% } %>
                        <% } 
                     else if(page >5 && (page_num - page)>4){
                        %>
                     <li class="page-nav" data-page="1"><a href="/storema/order?page=1" class="store-goods-page">1</a><li>
                     <li class="page-nav" data-page="2"><a href="/storema/order?page=2" class="store-goods-page">2</a><li>
                     <li class="page-nav"><a class="store-goods-page">...</a><li>
                     <li class="page-nav" data-page="<%= page-1 %>"><a href="/storema/order?page=<%= page-1 %>" class="store-goods-page"><%= page-1 %></a><li>
                     <li class="page-nav" data-page="<%= page %>"><a href="/storema/order?page=<%= page %>" class="store-goods-page"><%= page %></a><li>
                     <li class="page-nav" data-page="<%= parseInt(page)+1 %>"><a href="/storema/order?page=<%= parseInt(page)+1 %>" class="store-goods-page"><%= parseInt(page)+1 %></a><li>
                     <li class="page-nav"><a class="store-goods-page">...</a><li>
                     <li class="page-nav" data-page="<%= page_num-1 %>"><a href="/storema/order?page=<%= page_num-1 %>" class="store-goods-page"><%= page_num-1 %></a><li>
                     <li class="page-nav" data-page="<%= page_num %>"><a href="/storema/order?page=<%= page_num %>" class="store-goods-page"><%= page_num %></a><li>
                     <% } %>
                    <% } 
                    if(page != page_num && page_num != 0){
                    %>
                    <li><a href="javascript:" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                <% }} %>
            </ul>
        </nav>
    </div>
    
    <script type="text/javascript" src="/javascripts/storeor.js"></script>
    <script type="text/javascript" src="/javascripts/libs/bootstrap.min.js"></script>
</body>
</html>
