/* reset */
*{
    margin:0;
    padding:0;
    list-style-type:none;
    font-family: 'Microsoft Yahei', '宋体', arial, 'Hiragino Sans GB', Helvetica;
}

label{
    cursor:pointer;
}

img{
    vertical-align:middle;
}

table{
    empty-cells:show;
    border-collapse:collapse;
    border-spacing:0;
}

abbr,acronym{
    border:0;
    font-variant:normal;
}

address,caption,cite,code,dfn,em,th,var,optgroup{
    font-style:normal;
    font-weight:normal;
}

input,button,textarea,select,optgroup,option{
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
}

input,button,textarea,select{
    *font-size:100%;
}

a,img{
    border:0;
}

a,a:visited,a:hover{
    color:#5e5e5e; 
    text-decoration:none;
}

.clear{
    clear: both;
}

/*common*/
.navbar.navbar-default.navbar-fixed-top{
    margin-bottom: 0;
}

.navbar.navbar-default.navbar-fixed-top.search{
    top: 51px;
    background: #ffffff;
    z-index: 2;
    margin: auto;
    max-width: 1200px;
}

.navbar.navbar-default.navbar-fixed-top.search .navbar-form{
    text-align: center;
    margin: 0;
    padding-top: 8px;
    height: 51px;
}

.navbar.navbar-default.navbar-fixed-top.search .navbar-form .form-group{
    display: inline-block;
    width: 50%;
}

.navbar.navbar-default.navbar-fixed-top.search .navbar-form .form-group input{
    width: 100%;    
}

.login_main{
    margin: 100px auto 0 auto;
    width: 80%;
    overflow: hidden;
    max-width: 700px;
    position: relative;
}

.login-action{
    width: 300%;
    position: relative;
}

.login-action .login-action-1,.login-action .login-action-2,.login-action .login-action-3{
    width: 33%;
    float: left;
    padding: 40px;
}

.selectpicker-div{
    height: 34px;
    line-height: 34px;
}

.pager li>a, .pager li>span{
    cursor: pointer;
}

.login-alert{
    position: absolute;
    top: 10px;
    width: 90%;
    margin-left: 5%;
}

.storema-container{
    padding-top: 100px;
}

.table-bar{
    border-bottom: 1px solid #e5e5e5;
}

.table-bar .table-bar-btn{
    margin-right: 0;
}

#preview-div{
    margin: 0 auto;
    height: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#preview-div img{
    height: 48px;
    width: auto;
    border: 1px rosybrown solid;
    margin-left: 5px;
}

.preview-from-group{
    overflow: hidden;
}

#progress{
    position: absolute;
    top: 50%;
    width: 80%;
    left: 10%;
    display: none;
}

#progress-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #000000;
    opacity: 0.5;
    display: none;
}

#progress-tip{
    position: absolute;
    bottom: 35%;
    height: 20px;
    font-size: 18px;
    font-weight: lighter;
    color: #f7f7f7;
    text-align: center;
    width: 100%;
    display: none;
}

.row-04-p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.store-nav-btn{
    margin-left: 10px;
}

@media (max-width: 768px){
    .login_main{
        width: 100%;
    }
}